

<div class="container">
  <!-- <div class="row justify-content-md-center label">
    <div class="col-6 card-title d-flex justify-content-center text-center" style="margin-top: 30px;">
      <h3> Bulk Activations </h3>
    </div>
  </div> -->
    <div class="row">
      <div class="col-3 mx-auto" style="text-align: right; padding-top: 75px;">
        <img src="assets/logo.png" style="width: 500px; height: 200px; ">
      </div>
      <div class="col-6 mx-auto">
        <div class="card-signin my-5">
          <div class="card-body">
            <!-- <h5 class="card-title text-center">Sign In</h5> -->
            <form class="form form-signin" (ngSubmit)="login()" name="form">
              <div class="form-group">
                  <label>UserName</label>
                <input type="text" [(ngModel)]="userName" name="userName" class="form-control" placeholder="Email address" required autofocus>
              </div>

              <div class="form-group">
                  <label>Password</label>
                <input type="password" [(ngModel)]="password" name="pass" class="form-control" placeholder="Password" required>
              </div>

              <div class="form-group text-right">
                <button class="btn text-uppercase" type="submit"> Login</button>
             </div>
             
                <div class="form-group" style="text-align: left;">
                  <p>
                    This websit is confidential and intended solely for the use of Etisalate Misr
                    staff.
                    Any unauthorized use of the information contained in this website is prohibited
  
                  </p>
                </div>
                
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
